$noise-bg: image-url('noise.png') top left !default;
$img-border: inline-image('dotted-border.png') !default;

// Main Link Colors
$link-color: #f2f2f2 !default;
$link-color-hover: #f2f2f2 !default;
$link-color-visited: #f2f2f2 !default;
$link-color-active: #f2f2f2 !default;

// Main Section Colors
$main-bg: #f8f8f8 !default;
$page-bg: #252525 !default;
$article-border: #eeeeee !default;

$header-bg: #252525 !default;
$header-border: lighten($header-bg, 15) !default;
$title-color: #f2f2f2 !default;
$subtitle-color: #aaa !default;

$text-color: #222 !default;
$text-color-light: #aaa !default;
$type-border: #ddd !default;

/* Navigation */
$nav-bg: #252525 !default;
$nav-bg-front:  #f2f2f2 !default;
$nav-bg-back:  #f2f2f2 !default;
$nav-color:  #f2f2f2 !default;
$nav-color-hover:  #f2f2f2 !default;
$nav-placeholder:  #252525 !default;
$nav-border:  #252525 !default;
$nav-border-top:  #252525 !default;
$nav-border-bottom:  #252525 !default;
$nav-border-left:  #252525 !default;
$nav-border-right:  #252525 !default;

/* Sidebar colors */
$sidebar-bg: #f2f2f2 !default;
$sidebar-link-color: $text-color !default;
$sidebar-link-color-hover: $link-color-hover !default;
$sidebar-link-color-active: $link-color-active !default;
$sidebar-color: change-color(mix($text-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2) !default;
$sidebar-border: desaturate(darken($sidebar-bg, 7), 10) !default;
$sidebar-border-hover: darken($sidebar-bg, 7) !default;
$sidebar-link-color-subdued: lighten($sidebar-color, 20) !default;
$sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;

$footer-bg: #252525 !default;
$footer-bg-front: #f2f2f2 !default;
$footer-bg-back: #f2f2f2 !default;
$footer-color: #f2f2f2 !default;
$footer-color-hover: #f2f2f2 !default;
$footer-border-top: #252525 !default;
$footer-border-bottom: #252525 !default;
$footer-link-color: #f2f2f2 !default;
$footer-link-color-hover: #f2f2f2 !default;
$page-border-bottom: #252525 !default;


/* Core theme application */

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}
aside.sidebar a {
  @include link-colors($sidebar-link-color, $hover: $sidebar-link-color-hover, $focus: $sidebar-link-color-hover, $active: $sidebar-link-color-active);
}
a {
  @include transition(color .3s);
}

html {
  background: $page-bg;
}
body {
  > div {
    background: $sidebar-bg $noise-bg;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background: $main-bg $noise-bg;
      border-right: 1px solid $sidebar-border;
    }
  }
}
